body {
    font-family: Arial, sans-serif;
    padding-bottom: 2.5rem;
}


header img {
    width: 350px;
    height: auto;
}

.container h1 {
    margin-top: 10px;
    font-weight: bold;
}

.card {
    border: 1px solid #E0E0E0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
}

.sales {
    color: #757575;
}

.card-footer {
    background-color: #FFF;
    border-top: 0;
}

.btn-warning {
    background-color: #FF6600;
    border: none;
    color: white;
    font-weight: bold;
}


footer {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    bottom: 0;
    left: 0;
}

footer a {
    text-decoration: none;
    color: #0066cc;
   
}

footer a:hover {
    text-decoration: underline;
}


    
