body {
  background-color: white;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 900px;
  width: 100%;
}

.profile-pic-section {
  background-color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-pic-section img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  background-color: white;
  margin: 10px;
}


.icon-placeholder {
  font-size: 150px;
  color: white;
}

.control-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.control-buttons .btn {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.control-buttons .btn i {
  font-size: 24px;
  color: #FFA500;
}

.form-section {
  padding: 40px;
  flex-grow: 1;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 10px;
  height: 40px;
}

.btn-save {
  background-color: #FFA500;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
}

.btn-save:hover {
  background-color: #FF8C00;
}

.bordered-form {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
}

.logo {
  margin-bottom: 20px;
  margin-top: 150px;
  max-width:300px;
}
