 /* Cambiar color de texto de las pestañas */
 .nav-pills .nav-link {
    color: black !important; /* Texto negro */
}

/* Cambiar el color del tab activo */
.nav-pills .nav-link.active {
    background-color: #ffc107; /* Color warning */
    color: #212529; /* Texto oscuro para contraste */
}

/* Opcional: cambiar el color al pasar el mouse */
.nav-pills .nav-link:hover {
    background-color: #ffe066; /* Un tono más claro de amarillo */
    color: #212529;
}


#SeguirComprando, #direccion {
    background-color: #ffc107 ; /* Fondo blanco */
    color: white; /* Texto blanco */
    border: 2px solid #ffe066; /* Borde amarillo naranja (warning) */
    text-decoration: none; /* Sin subrayado */
    transition: all 0.3s ease; /* Suavidad en los cambios */
}

/* Estilo al pasar el mouse */
#SeguirComprando:hover,  #direccion:hover{
    background-color: #ffc107; /* Fondo amarillo naranja (warning) */
    color: white; /* Texto blanco */
    border-color: #ffc107; /* Borde permanece amarillo naranja */
    text-decoration: none; /* Sin subrayado */
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0px 0;
    border-bottom: 1px solid #ddd;
   
}

.cart-item img {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

.cart-item-details {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
     
}

.cart-item-details h3 {
    margin-left: 25px;
    font-size: 1.1rem;
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
}

.cart-item-details p {
    margin: 0;
    font-size: 1rem;
    text-align: right;
    white-space: nowrap;
    margin-left: 10px;
    padding-right: 50px;
}



@media (min-width: 992px) {

    #formTabsContent {
        padding-left: 65px; 
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 20px;
    }
    
    #formTabs{
        padding-left: 45px; 
        padding-right: 20px;
    }
    
    #cart-content{
    padding-left: 70px;
    padding-right: 65px;
    padding-top: 10px ;
    }
    
    
    #contCostos{
    padding-right: 65px;
    padding-top: 20px ;
    text-align: center;
    }
    
    #costs{
        padding-top: 25px;
        padding-left: 15px;
        text-align: left;
       
    }
    
    #bankTransferForm, #creditCardForm {
        padding-top: 15px;
        padding-left: 5px;
    }
    }


@media (max-width: 768px) {
  .container .row > .col-md-8,
  .container .row > .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container .row {
    display: flex;
    flex-direction: column;
  }
}

img {
    width: 150%; /* Ajusta el tamaño del logo para que no ocupe demasiado espacio */
    max-width: 500px; /* Limita el tamaño máximo del logo */
 
}

@media (max-width: 576px) {
  .cart-item img {
    width: 80px; /* Reducir el tamaño de la imagen */
  }

  .cart-item-details h3 {
    font-size: 0.9rem; /* Reducir el tamaño de la fuente */
    margin-left: 5px; /* Reducir márgenes */
    padding-left: 5px;
  }

  .cart-item-details p {
    font-size: 0.85rem; /* Reducir el tamaño de la fuente */
    padding-right: 10px; /* Reducir padding */
    
  }

  #formTabsContent, #formTabs,#bankTransferForm, #creditCardForm {
    padding-left: 20px;
    padding-right: 20px;
  }

   #cart-content{
padding-right: 40px;
padding-left: 40px;
  }

  #contCostos{
    padding-right: 15px;
    padding-left: 15px;
  }

  img {
    width: 100%; /* Asegurar que las imágenes no ocupen más del ancho de la pantalla */
    max-width: 280px; /* Limitar el tamaño máximo */
  }
   
.logo{
    padding-left: 65px;
    padding-bottom: 10px;
}

  h3{
    text-align: center
  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
  }

  .cart-item-price {
    margin-top: 5px; /* Espaciado entre la cantidad y el precio */
    font-size: 1.1em; /* Ajustar tamaño del precio */
  }

    /* Asegurar que el texto se vea bien en móvil */
    .tab span {
        white-space: nowrap;
      }

      #formTabsContent{
        padding-bottom: 25px;
      }
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 40px;
        padding-right: 20px;
    }


/* Ajustes para las pestañas */
.nav-pills .nav-item {
    flex: 1 1 auto; /* Asegura que cada pestaña ocupe el mismo espacio */
  }
  
  .nav-pills .nav-link {
    display: block;
    text-align: center;
    width: 100%; /* Fuerza a cada enlace de pestaña a ocupar el 100% de su contenedor */
  }
  
  /* Ajustes para que el contenedor del formulario y las pestañas tengan el mismo ancho */
  .tab-content,
  .nav-pills {
    width: 100%;
    max-width: 800px; /* Ajusta este valor según el diseño de tu página */
    margin: 0 auto; /* Centra el contenido */
  }





