.accordion-button { 
    background-color: #f8f9fa;
    font-weight: bold;
}

.accordion-button:focus {
    box-shadow: none;
}

.btn.btn-warning.btn-lg.w-100.mb-3 {
    font-weight: 600; /* Semi-bold */
    background-color: #FF6600;
    color: white; /* Para que el texto sea visible sobre el fondo */
}