  body.dark-theme {
    background-color: rgb(20, 20, 20);
    color: white;
}

.dark-theme .navbar {
    background-color: #333;
}

.dark-theme .card {
    background-color: #444;
    color: white;
}

.dark-theme .btn-light {
    background-color: #444;
    color: white;
}

.dark-theme footer {
    background-color: #222;
    color: #ccc;
}

.dark-theme .text-muted {
    color: #aaa;
}


  /* Estilos generales del modo oscuro */
  body.light-mode {
    background-color: white;
    color: black;
}
