  body.dark-theme {
    background-color: rgb(20, 20, 20);
    color: white;
}

.dark-theme .navbar {
    background-color: #333;
}

.dark-theme .card {
    background-color: #444;
    color: white;
}

.dark-theme .btn-light {
    background-color: #444;
    color: white;
}

.dark-theme footer {
    background-color: rgb(20, 20, 20);
    color: #ccc;
}

.dark-theme .text-muted {
    color: #aaa;
}

  /* Estilos generales del modo oscuro */
  body.light-mode {
    background-color: white;
    color:rgb(20, 20, 20);
    
}
.dark-theme  .album{
    background-color: rgb(20, 20, 20);
}

.dark-theme .filtro{
    background-color: rgb(20, 20, 20);
}
.dark-theme .filtro2{
    background-color: rgb(20, 20, 20);
}
.dark-theme .card-footer{
    background-color:#444;
}
.dark-theme .dz-message{
    color: black;
}
.dark-theme .list-group-item{
    background-color: rgb(20, 20, 20);
    color: #ccc;
}
.dark-theme .profile-pic-section{
    background-color: rgb(20, 20, 20);
}
.dark-theme .jumbotron{
    background-color: rgb(20, 20, 20);
}

.dark-theme .card{
    background-color: rgb(20, 20, 20);
}
